language: python
sudo: required
python:
#- "3.2" # C:\Python32\lib\site-packages\pkg_resources\__init__.py:80: UserWarning: Support for Python 3.0-3.2 has been dropped. Future versions will fail here.
- '3.3'
- '3.4'
- '3.5'
install:
# install the package
- PACKAGE_VERSION=`python3 setup.py --version`
- TAG_NAME=v$PACKAGE_VERSION
# install from the zip file to see if files were forgotten
- python3 setup.py sdist --dist-dir=dist --formats=zip
- ( cd dist ; python3 -m pip install kniteditor-${PACKAGE_VERSION}.zip )
# install the test requirements
- python3 -m pip install -r test-requirements.txt
before_script:
# remove the build folder because it creates problems for py.test
- rm -rf build
# show the versions
- python3 setup.py --version
- py.test --version
- python3 setup.py requirements
- echo Package version $PACKAGE_VERSION with possible tag name $TAG_NAME
script:
# test with pep8
# add coverage for python 3.3 and above
- py.test --cov=kniteditor --pep8
# test import form everywhere
- ( cd / && python3 -c "import kniteditor;print(\"imported\")" )
# run tests from installation
- "( cd / && py.test --pyargs kniteditor )"
# test that the tag represents the version
# https://docs.travis-ci.com/user/environment-variables/#Default-Environment-Variables
- ( if [ -n "$TRAVIS_TAG" ]; then if [ $TAG_NAME != $TRAVIS_TAG ]; then echo "This tag is for the wrong version. Got \"$TRAVIS_TAG\" expected \"$TAG_NAME\"."; exit 1; fi; fi; )
after_script:
# https://github.com/codeclimate/python-test-reporter
# set the environment variable CODECLIMATE_REPO_TOKEN in travis-ci settings
- codeclimate-test-reporter
before_deploy:
# create the documentation
- ( cd docs ; make html )
deploy:
# created with travis command line tool
# https://docs.travis-ci.com/user/deployment/pypi
# $ travis setup pypi
  provider: pypi
  user: niccokunzmann2
  password:
    secure: "q3aUT6A5Mvkdg4JPZQGYQSLi7i0Kk3/raebav1gVC0CZBEPMOBRbuL1ZgpHV7wM4emqr1p2mTl3R4YjCn8Kn1J7zWtmWUBnMystbW8ojQ4ED3qk+zHnI85Zk/TE5N4KlRN0iAGFPeFZpgXTr6gpiFmLkgvaGhAKg4HWMOOIZ9FENz/XtJU5XxCjLuBykIy+YeoVDaJPyX05rfrUxN5GfxEhBiEjpF2UL1M6fYv+3Orn4AgQpZu0DGTItARXanE8J9L1vqU17tGmBwLmXyklbG/7lwd/c295COxHgEQbcZeOl/Dbu9SE8nvBtZd3TiR9K05BVWgQAheClf980ncjI9eCJsmJC3s3XMucTTWTuZEucenfvGTE0h6mKEEvgEMREfr9LJR2+teT7vlocUWpscLJEdTShJvt1BtUVeOXLdIEjTvPNmU0ItZ5qipoaWrsH0q9l85c02cLK/yqkN11hn9WnLH7AWpRoj51W4sXjcfKX341MJqqHaXGcPrufkNP6g0SaGdqA0kkK7iMA+SYCeUI+K9UzJbmlgVbiIm/blVqK1eKcuB652/apPXi72EDVXhg9Q5LphGfNtlZ09iPEZYKTo0NsCZ+AXcoyoPE7Y+zqsky33lZcaRxPnY1Ba2f9/1MTU+uK6FlHuhi/N+y55HVCCG41jaMUNq5BcXeFHo4="
  on:
    tags: true
    distributions: sdist bdist_wininst bdist_wheel
    repo: AllYarnsAreBeautiful/kniteditor
