<link rel="stylesheet" type="text/css" href="{{ site.baseurl | escape }}/css/fonts.css" media="screen">
<link rel="stylesheet" type="text/css" href="/css/fonts.css" media="screen">
<link rel="stylesheet" type="text/css" href="{{ site.baseurl | escape }}/css/grid.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/css/grid.css" media="screen" />
<link rel="stylesheet" type="text/css" href="{{ site.baseurl | escape }}/css/home.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/css/home.css" media="screen" />

