{% include variables.html %}

<div class="button-holder grid-whole padded centered">
  <a class="button" href="#translate">{{ translate "TRANSLATE" }}</a>
  <a class="button" href="#program">{{ translate "PROGRAM" }}</a>
</div>

<a name="translate"></a><h1 class="centered">{{ translate "Translate" }}</h1>

<div class="centered description">
  <p>
    {{ translate "This video shows you how to translate [the files](https://github.com/fossasia/kniteditor/tree/master/kniteditor/localization/translations):" }}
  </p>
  <p>
    <iframe width="560" height="315" 
            src="https://www.youtube.com/embed/x5rGUqRWlK8" frameborder="0" 
            allowfullscreen>
    </iframe>
  </p>
  <p>
    {{ translate "You can also translate this website: https://github.com/fossasia/kniteditor/tree/gh-pages." }}
  </p>
</div>

<a name="program"></a><h1 class="centered">{{ translate "Program" }}</h1>


<div class="centered description">
  <p>
    {{ translate "The Knit Editor is part of FOSSASIAs knitting projects: https://knitting.fossasia.org#kniteditor." }}
  </p>
  <ul class="listing">
    <li>
      {{ translate "Familiarize yourself with Github: http://try.github.io/." }}
    </li>
    <li>
      {{ translate "Watch the development tutorials: https://www.youtube.com/playlist?list=PL_bQhtrnWFA8skye4GpQ2Y8kEHxLwQKHY." }}
    </li>
    <li>
      {{ translate "Work on issues: https://waffle.io/fossasia/kniteditor." }}
    </li>
  </ul>
</div>
