{% include variables.html %}

<h1 class="centered">{{ translate["Knit Editor"] }}</h1>

<h2 class="centered">{{ translate["Design knit work and knit it."] }}</h2>

<div class="centered grid-whole padded">
  <a class="button" href="download">{{ translate["DOWNLOAD"] }}</a>
</div>
  
<ul class="features grid-whole padded equalize">
  <li class="grid-third m-grid-whole s-grid-whole">
    {{ translate["Display and export schemata."] }}
  </li>
  <li class="grid-third m-grid-whole s-grid-whole">
    {{ translate["Control your knitting machine."] }}
  </li>
  <li class="grid-third m-grid-whole s-grid-whole">
    {{ translate["Import and share designs."] }}
  </li>
</ul>

<h2 class="centered">{{ translate["It's free and open-source."] }}</h2>

<div class="centered grid-whole padded">
  <a class="button" href="develop">{{ translate["START DEVELOPING"] }}</a>
</div>