<!DOCTYPE html>
<html {% if page.categories %}lang="{{ page.categories | first | escape }}"{% endif %}>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title | escape }}</title>
    {% include style.html %}
    {% include javascript.html %}
    {% include variables.html %}
  </head>
  <body>
    <header>
      {% include languages.html %}
    </header>
    <main class="home">
      {{ content }}
    </main>
    {% include footer.html %}
  </body>
</html>